# Python
.venv/
__pycache__/
*.pyc

# Node / Playwright
node_modules/
playwright/
playwright-report/
blob-report/
test-results/
coverage/
*.log

# VS Code
.vscode/
*.code-workspace

# System
.DS_Store
Thumbs.db
